.progress_bar_warpper {
    display: inline-block;
    position: relative;
    width: 290px;
}

.progress_bar_warpper .progress_bar_bgArea {
    display: flex;
    position: relative;
    height: 10px;
    width: 255px;
    justify-content: flex-start;
}

.progress_bar_warpper .progress_bar_bgArea .progress {
    position: absolute;
    height: 10px;
    overflow: hidden;
    max-width: 100%;
    transition: width .2s ease;
}

.progress_bar_warpper .progress_bar_bgArea .progress .divider {
    position: absolute;
    width: 1px;
    height: 10px;
    background: #7e96ee;
}

.progress_bar_warpper .progress_bar_bgArea .progress_bar_bg {
    height: 10px;
    width: 50px;
    background: #e7ebf6;
    margin-left: 1px;
}


.progress_bar_warpper .progress_bar_range input[type="range"] {
    position: absolute;
    top: -5px;
    background: transparent;
    width: 255px;
    -webkit-appearance: none;
}

.progress_bar_warpper .progress_bar_range input[type="range"]:focus {
    outline: none;
}

.progress_bar_warpper .progress_bar_range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.progress_bar_warpper .progress_bar_range input[type="range"].manipulate::-webkit-slider-thumb {
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: white;
    box-shadow: 0px 0px 20px gray;
}

.progress_bar_warpper .progress_bar_range input[type="text"] {
    border: 1px solid #dadada;
    outline: none;
    position: absolute;
    top: -11px;
    right: -10px;
    height: 30px;
    width: 40px;
    padding: 7px;
    box-sizing: border-box;
    text-align: center;
}